@using Microsoft.AspNetCore.Components.Routing
<Div>
    <NavLink class="nav-link" href="@Uri">
        <Icon Name="@Icon" Margin="Margin.Is2" /> @Title
    </NavLink>
</Div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Uri { get; set; } = string.Empty;
    [Parameter] public IconName Icon { get; set; }
}
